.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-inner{ 
    position: relative;
    width: 100%;
    max-width: 500px;
    background-color: rgb(255, 255, 255); 
    box-shadow: 0 0 30px 2px rgba(0, 0, 0, 0.548);
}

.modal-header{
    background-image: linear-gradient(to bottom, rgb(67, 18, 82), rgb(255, 255, 255));
    padding: 80px 30px 0px 30px;

    display: flex;
    flex-direction: column;

    align-items: center;
}

.modal-header-select{
    background-image: linear-gradient(to bottom, rgb(67, 18, 82), rgb(255, 255, 255));
    padding: 80px 30px 0px 30px;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    padding-bottom: 50px;
}

.select-btn{
    margin: 20px;
    color: purple;
    transform: scale(1.5);
}

.select-btn:hover{
    cursor: pointer;
}

.modal-container{
    padding: 0px 30px 60px 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-title{
    position: absolute;

    left: 30px;

    color: rgb(255, 255, 255)
}

.close-btn{
    position: absolute;
    
    top: 10px;
    right: 10px;

    color: rgb(198, 68, 68);

    width: 30px;
    height: 30px;
}

.close-btn:hover{
    cursor: pointer;
}

#avatar-user-modal{
    width: 150px;
    height: 150px;
    padding: 2px;
    border-radius: 100%;
    border: 8px solid white;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.548);

    object-fit: cover;

    
}

#avatar-user-modal:hover{
    transform: scale(1.05);
    transition: 0.5s;
    cursor:default;
    
}

#modal-username{
    font-size: 35px;
    color: rgb(67, 18, 82);

}

#modal-id{
    font-size: 20px;
}

.modal-span{
    font-size: 15px;
}

.modal-input {
    height: 28px;
    width: 300px;

    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;

    color: rgb(67, 18, 82);
}

.modal-input-id{
    width: 50px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.modal-input:focus {
   
    outline: none;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.548);
}

#modal-save-btn{
    color: white;

    height: 40px;
    width: 120px;

    border-radius: 6px;
    border: none;

    background-color: #13904b;

    display: flex;

    align-items: center;
    justify-content: center;
}

#modal-save-btn:hover{
    cursor: pointer;
}

