.info {
    grid-area: info;

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: linear-gradient(to bottom, rgba(204, 204, 204, 0.1), #4c205a);
    border-radius: 0px 0px 10px 10px;
    margin: 10px;

    height: 100px !important;

    font-size: 13px;
    color: white;
}
